<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yum_driver">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yum_driver.Activities.LanuguageListActivity"></activity>
        <activity android:name="com.yum_driver.Activities.NoInternetActivity" />

        <service
            android:name="com.yum_driver.fcm.FirebaseCloudMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.yum_driver.Activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.CurrentOrderDetails"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.MyRevenueActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.RevenueActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.VehicalListActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.AddVehicalActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.CompleteDeliveryActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.PerformcesActvity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.MishapActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.ProfileSetting"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.VehicalInfoActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.OTPVerifyActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.CountryCodePickerActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yum_driver.Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.yum_driver.services.LocationService"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name="com.yum_driver.utils.AutoStartService"
            android:enabled="true"
            tools:ignore="Instantiatable"
            >
        </service>

        <receiver
            android:name="com.yum_driver.utils.RestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
        </receiver>


        <receiver android:name="com.yum_driver.utils.NetworkStateChangeObserver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>